
html {
    color: #666;
    font-size: 12px;
    line-height: 1.4;
    background:#E0E0E0;
    font-family: Georgia;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Deafult css*/
.template{
    width: 960px;
    margin:0 auto;
}
.text-center{
    text-align: center;
}
.clear{
    overflow: hidden;
}
/*Top bar section*/
.topbar{
    background:#2F2B29;
    height:50px;
}
.topbarleft{
    float:left;
    width:560px;
}
.topbarleft ul {
  list-style: outside none none;
  margin: 12px 0 0;
  padding: 0;
}
.topbarleft ul li {
  border-right: 1px solid #ddd;
  float: left;
  padding: 0 10px;
}
.topbarleft ul li:last-child{
    border-right: 0px solid #ddd;
}
.topbarleft ul li a{
    display:block;
    float:inline-block;
    color:#ddd;
    text-decoration:none;
}
.topbarleft ul li a:hover{}
.topbarright{
    float:right;
    width:400px
}
.topbarright i {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50px;
  color: #000;
  float: right;
  font-size: 20px;
  height: 30px;
  margin-left: 8px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

/*header seciton*/
.headersection{}
.headersection h1{
    font-size: 99px;
    margin: 20px 0;
    text-transform: uppercase;
    color: #000;
}
.headersection p{
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 20px;
    margin:0;
}
.mainmenu{
    margin-top: 30px;
}
.mainmenu ul{
    margin: 0;
    padding:0;
    list-style: none;
    border-top: 3px double #666;
    border-bottom: 3px double #666;
    overflow: hidden;
}
.mainmenu ul li{
    float: left;
    display: block;
    margin:5px 20px 5px 5px;
    padding:5px;
}
#active{
    color:#999;
}
.mainmenu ul li a{
    float: left;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: #444;
    font-size: 14px;
}
.mainmenu ul li a:hover{
    color: #999;
}

/*Recent news seciton*/
.recentnews{
    font-size: 16px;
    margin-top: 45px;
    border-bottom:3px double #999;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.recentleft{
    float: left;
    width: 500px;
    margin-right: 30px;
}
.recentleft img{}
.recentleft h3{}
.recentleft p{}
.recentright{
    float: right;
    width: 425px;
}
.latestnews{
    margin-bottom: 20px;
}
.postimg{
    float: left;
    margin-right: 10px;
    width: 112px;
}
.postimg img{
    border:1px solid #999;
    float: left;
    padding:5px;
}
.postdesc{
    float: left;
    width: 303px;
}
.postdesc h3{
    margin:0;
}
.postdesc h3 a{
    color: #444;
    text-decoration: none;
}
.postdesc h3 a:hover{
    color: #000;
}
.postdesc p{
    margin:0;
}

/*content section*/
.contentsection{
    border-bottom: 3px double #999;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.contentleft{
    float: left;
    width: 630px;
}
.contentleft h2{
    border-bottom: 1px double #666;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.topcat{}

.samepost{
    float: left;
    width: 285px;
}
.samepost h2{}

.sametopcat{}

.sametopimg{
    float: left;
    margin-right: 5px;
    margin-bottom: 35px;
}
.sametopimg img{
    padding:5px;
    border:1px solid #999;
}

.sametopdesc{}
.sametopdesc h4{
    margin:0;
    color: #444;
}
.sametopdesc p{
    margin:0;
}
.sametopdesc a{
    color: #982115;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
}

.samepost{
    float: left;
    margin-right: 30px;
    width: 285px;
}
.samepost h2{}

.bottomcat{
    border-top: 3px double #999;
    width: 600px;
    margin-top: 10px;
    padding-top: 30px;
}
.bottomcat ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}
.bottomcat ul li{
    float: left;
    display: block;
    margin-right: 2px;
}
.bottomcat ul li a{
    float: left;
    display: inline-block;
    color: #fff;
    background: #000;
    padding:5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.bottomcat ul li a:hover ,#catactive{
    color: #ddd;
}

.samearticle{
    float: left;
    margin-right: 24px;
    width: 132px;
}
.samearticle h4{}
.samearticle h4 a, .samearticle a{
    color:#982115;
    text-decoration: none;
}
.samearticle img{
    border:1px solid #999;
    padding:3px;
}
.samearticle p{}

.rightsidebar{
    float: right;
}

.adoption{
    float: left;
    margin-right: 35px;

}
.adoption h4{
    border-top: 5px solid #999;
    padding-top: 5px;
}
.adoption img{}

.catogorioption{
    float: left;
}
.catogorioption h4{
    border-top: 5px solid #999;
    padding-top: 5px;
}
.catogorioption ul{
    margin:0;
    padding:0;
    list-style: none;
}
.catogorioption ul li{
    margin-bottom: 3px;
}
.catogorioption ul li a{
    text-decoration: none;
    color: #902216;
    font-size: 13px;
}


/*footertop section*/
.footertop{
    border-bottom: 3px double #999;
    margin-bottom: 10px;
    padding-bottom: 25px;
}
.sametext{
    float: left;
    width: 180px;
    margin-right: 12px;
}
.sametext h4 {
    font-size: 15px;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
.sametext ul{
    margin:0;
    padding:0;
    list-style: none;
}
.sametext ul li {
    margin-bottom: 5px;
}
.sametext ul li a {
    color: #982216;
    text-decoration: none;
}

/*footer section*/
.footer{

}
.footerleft{
    width: 70%;
    float: left;
}
.footerleft p{
    color: #787878;
}
.footerright{
    width: 30%;
    float: right;
}
.footerright p{
    color: #787878;
    float: right;
}

/*post page design*/
.postpage{
    margin-top: 20px;
}
.post{}
.pos h2{}
.post p{}
.description{}
.description img{
    border:1px solid #999;
    float: left;
    height: 200px;
    margin-right: 20px;
    padding:5px;
    width:350px;
}
.description p{
    font-size: 16px;
    margin-top: 0;
}

/*same side bar*/
.postsidebar{
    background: #d0d0d0;
    float: right;
    font-size: 16px;
    line-height: 25px;
    margin-left: 20px;
    width: 290px;
}
.samesidebar{
    padding:10px;
}
.postsidebar h2{
    background: #444;
    color: #fff;
    padding:10px;
    margin:0;
}
.samesidebar ul{
    margin:0;
    padding:0;
    list-style: none;
}
.samesidebar ul li{
    background: #E0E0E0;
    border-bottom: 1px solid #d0d0d0;
    padding:7px 10px;
}
.samesidebar ul li:hover{
    background: #fff;
}
.samesidebar ul li a{
    text-decoration: none;
    color: #444;
}
.comment{
    border:1px solid #c5c5c5;
    padding:20px;
    font-size: 16px;
}
.comment h2{
    margin:0 0 20px;
    text-align: center;
    border:1px solid #c4c4c4;
}
input[type="text"],input[type="email"]{
    background:#f0f0f0;
    border:1px solid #c6c6c6;
    padding:5px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.comment textarea{
    background:#f0f0f0;
    border:1px solid #c4c4c4;
    padding:5px;
    width: 300px;
    margin-left: 20px;
    height: 130px;
}
.comment input[type="submit"]{
    font-size: 20px;
    margin:20px;
    padding:5px 20px;
}


/* ===================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
